@font-face {
    font-family: PFAXthin;
    src: url(../fonts/PFAXthin.ttf);

}

@font-face {
    font-family: PFAlight;
    src: url(../fonts/PFAlight.ttf);

}

@font-face {
    font-family:PFAthin;
    src: url(../fonts/PFAthin.ttf);

}

@font-face {
    font-family:PFAregular;
    src: url(../fonts/PFAregular.ttf);

}

@font-face {
    font-family:PFAbold;
    src: url(../fonts/PFAbold.ttf);

}

body{

    margin: 0px;
}
h1{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    padding-top: 45px;
    margin: 0;
	width: 100%;
	font-weight: normal;
	display: inline-block;
	font-family: "PFAxthin";
	font-size: 57px;
	text-transform: uppercase;
}

p{
	margin: 0;
}
.container1{
	width: 1205px;
	margin: 0 auto;

}

.container2{
	width: 1079px;
	margin: 0 auto;

}

.header{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.menuAndLogo{
	float: left;
}

.menu{
	float: left;
	margin-right: 67px;
	margin-top: 31px;

}

.menu a{
	float: left;


}

.logo{
	float: right;
	margin-top: 32px;

}

.logo img{
	float: right;
}

.phoneAndBack{
	float: right;
}

.phone{
	float: left;
	padding: 10px 36px;
	background-color: #ffd200;
	border-radius:10px;
	margin-right: 56px;
	margin-top: 20px;
}

.phone p{
	float: left;
	margin: 0;
	font-family: "PFAlight";
	font-size: 16px;
	border-bottom: 1px dotted black;

}

.back{
	float: right;
	margin-top: 25px;
}
.back a{
	float: right;

}

.mainPage{
	float: left;
	width: 100%;
	text-align: center;
	background-image: url(../img/BGmainpage.png);
	padding-bottom:256px;
	background-size: 1263.2px 547.2px;
}

.titleMP{
	display: inline-block;
	margin-bottom: 60px;
	
}

 h1 span{
	font-size: 75px;
}

.titleMP p{
	display: inline-block;
	margin: 0;
	font-size: 24px;
	font-family: "PFAlight";
}

.linkMP{
	display: inline-block;
	border:1px solid black;
	border-radius: 10px;
	    padding: 17px 50px;

}

.linkMP a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 26px;
	font-family: "PFAthin";
	color: black;

}

.step{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 56px;
	padding-bottom: 89px;

}

.oneStep{
	display: inline-block;
}

.circleAndBorder{
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 100%;
	padding-bottom: 15px;
}

.borderRadius{
	display: inline-block;
	border-right: 2px dashed #ffd200;
	transform: rotate(90deg);
    height: 128px;
    width: 14px;
    left: 253px;
    position: absolute;
    top: 3px;



}

.imgCircle{
	display: inline-block;
	border:4px solid #ffd200;
	border-radius: 50%;
}


.imgCircle img{
	display: inline-block;
	padding:36px;
}

.comment{
	display: inline-block;
	width: 116px;
	    
}

.comment p{
	margin: 0;
	font-family: "PFAlight";
	font-size: 24px;
}

.advantage{
	float: left;
	width: 100%;
	text-align: center;
	background-image: url(../img/BGadvantage.png);
}

.bodiesAD{
	display: inline-block;
	vertical-align: top;
	padding-bottom: 80px;
	padding-top: 60px;
}

.bodyAD{
	display: inline-block;
	width: 33%;
}

.imgAD{
	display: inline-block;
	padding-bottom: 16px;
}

.imgAD img{
	display: inline-block;
}
.textAD{
	display: inline-block;
	width: 268px;
}

.textAD p{
	display: inline-block;
	margin: 0;
	font-family: "PFAlight";
	width: 100%;
}

.bigText{
	display: inline-block;
	font-size: 24px;
	padding-bottom: 16px;
}

.smallText{
	display: inline-block;
	font-size: 16px;
}

.linkAD{
		background-color: #e11a27;
		border:none;
		margin-bottom: 60px;
	
}
.linkAD a{
	color: white;
}

.readySolution{
	float: left;
	width: 100%;
	text-align: center;
	padding-bottom: 90px;
	
}

.bodiesRS{
	display: inline-block;
	margin-top: 60px;
	
}

.bodyRS{
	display: inline-block;
	width: 306px;
	border:2px solid #ffd200;
	border-radius: 10px;
	margin: 0 23px;
}

.headerRS{
	display: inline-block;
	width: 100%;
	background-color: #ffd200;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;

}

.headerRS p{
	display: inline-block;
	margin: 0;
	padding: 33px 0;
	font-size: 28px;
	font-family:"PFAregular";

}

.headerRS p span {
	font-size: 40px;
}

.infoRSdollar{
	display: inline-block;
}

.infoRS{
	display: inline-block;
	text-align: left;
	padding-top: 22px;
	padding-bottom: 62px;
	padding-left: 20px;	

}

.newinfoRs2{
	padding-bottom: 31px;
}

.newinfo3{
	padding-bottom: 0px;
}

.infoRS p{
	display: inline-block;
	width: calc(100% - 35px);
	margin: 0;
	padding:0;
	font-family: "PFAregular";
	font-size:18px;
	background-image: url(../img/check.png);
	background-repeat: no-repeat;
	background-position: left center;
    padding-left: 30px;
    padding-bottom: 9px;
	
}

.dollarRS{
	display: inline-block;
	width: 100%;
	text-align: center;
	background-image: url(../img/dollar.png);
	background-repeat: no-repeat;
	background-position: 79px 12px;
    padding-bottom: 10px;
}

.dollarRS h5{
	display: inline-block;
	font-family: "PFAlight";
	font-size: 60px;
	font-weight: normal;
	margin: 0;
}

.footerRS{
	display: inline-block;
    width: calc(100% - 2*48px);
    background-color: #ffd200;
    padding: 7px 48px 11px 48px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.footerRS p{
	display: inline-block;
	margin:0;
	font-family:"PFAlight";
	font-size: 21.67px;
}

.designBC{
	display: block;
	height: 22px;
	position: relative;
}

.designBC img{
	display: inline-block;
}

.designBC p{
	margin:0;
	position: absolute;
	top: 7px;
    left: 116px;
    font-size: 18.76px;
    color: #f72a2a;
    font-family: "PFAbold";
    text-transform: uppercase;
}
.newDesign2{
	display: inline-block;
}

.testimonials{
	float: left;
	width: 100%;
	text-align: left;
	background-image: url(../img/BGtestimonials.png);
	padding-bottom: 56px;
	background-size: 1263.2px 767px;
}

.humanInfoTes{
	display: inline-block;
	width: 369px;
	margin-bottom: 10px;
	display: block;
}

.humanimg{
	display: inline-block;
	margin-top: 30px;
}

.humanimg img{
	display: inline-block;
}

.humanInfo{
	float: right;
	margin-top: 110px;
	
}

.humanInfo p{
	display: inline-block;
	margin: 0;
	font-family: "PFAlight";
	font-size: 18px;
}

.humanInfo h6{
	display: block;
	margin:0;
	font-family: "PFAXthin";
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.humanInfo h6 span{
	font-size: 30px;
}

.bodyTes{
	display: block;
	width: 540px;
	    height: 227px;
    padding-bottom: 80px;
}

.bodyTes p{
	display: inline-block;
	margin: 0;
	margin-bottom: 10px;
	font-family: "PFAlight";
	font-size: 18px;
}

.NextLink{
	float: right;
	display: inline-block;
	width: 100%;
}
.NextLink a{
	float: right;
	display: inline-block;
	background-position: right center;
	background-image: url(../img/more.png);
	background-repeat: no-repeat;
	text-decoration: none;
	color: black;
	font-family: "PFAthin";
	font-size: 16px;
	padding-right: 40px;
	margin-top: 25px;
}

.newTestLink{
	margin-left: 75px;
}

.paymentShipping{
	float: left;
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.bodiesPS{
	display: inline-block;
	margin-bottom: 65px;
	margin-top: 90px;
}

.bodyPS{
	display: inline-block;
	width: 314px;
	padding: 0 21px;
}

.titlePS{
	display: inline-block;
	width: 100%;
	background-color: #ffd200;
	padding: 19px 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-bottom: 6px;
}

.titlePS p{
	display: inline-block;
	font-size: 25px;
	text-transform: uppercase;
}

.titlePS p span{
	font-size: 36px;
}

.infoPS ul{
	
	margin: 0;
}

.infoPS ul li{
	
	font-family: "PFAregular";
	font-size: 18px;
	padding-bottom: 15px;
}
.redTextPS{
	color:#e4484d;
	width: 148px !important;
}

.redTextPS span{
	font-size: 15px;
}

.infoPS{
	display:inline-block;
	width: calc(100% - 35px);
	text-align: left;
	padding: 29px 0 37px 35px;
	background-color: #f7f0e6;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}


.infoPS p{
	display: inline-block;
	width: 243px;
	font-family: "PFAregular";
	font-size: 18px;
	margin-bottom: 15px;
}

.footer{
	float: left;
	width: 100%;
	background-color: #ffd200;
	text-align: center;
	padding-bottom: 50px;
}

.linkFooter{
	margin-top: 49px;
	float: left;
	border-top: 1px solid black;
	width: 157px;
	padding-top: 30px;
	margin-right: 75px;
}

.linkFooter a {
	display: block;
	text-decoration: none;
	margin-bottom: 9px;
	color: black;
	font-family: "PFAregular";
	font-size: 18px;
}


.linkFooter a  span{
	font-size: 20px;
}

.linkPhotos{
	float: left;
	
}

.linkPhotos a{
	float: left;
	margin-right: 40px;
}
 .linkPhotos a:last-child{
 	margin-right: 0;
 }

 .linkPhotos img{
 	float: left;
 	display: block;
 }

 .twoDivs{
 	float: right;
 	width: 157px;
 	margin-bottom: 39px;
 }

 .design{
 	display: block;
 	float: left;
 	margin-top: 48px;
 }

 .design img{

 	display: block;
 	border-radius: 5px;
 }

 .copyRight{
 	display: inline-block;
 	width: 100%;
 }

 .copyRight p{
 	display: inline-block;
 	font-size: 14px;
 	font-family: "PFAregular";
 }